body {
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: pink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.HeaderElement {
  text-align: center;
  border-style: dotted;
}

input[type="text"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 40px;
}

.unordered-list {
  margin: 10px;
  padding: 25px;
  padding-right: px;
  background-color: skyblue;
  color: darkblue;
  list-style-type: circle;
  border-style: outset;
  list-style-position: inside;
}
